<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>导航</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold">Dashboard</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold">日历</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('apps')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold">应用</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>应用</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>笔记</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>联系人</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>组件</span>
  </li>
  <li ng-class="{active:$state.includes('app.ui')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span>UI 元素</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>UI 元素</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.buttons">
          <span>按钮</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.icons">
          <b class="badge bg-info pull-right">3</b>
          <span>图标</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.grid">
          <span>栅格系统</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.widgets">
          <b class="badge bg-success pull-right">13</b>
          <span>小插件</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.bootstrap">
          <b class="badge bg-primary pull-right">16</b>
          <span>Bootstrap</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.sortable">
          <span>拖拽排序</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.portlet">
          <span>容器</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.timeline">
          <span>时间线(Timeline)</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.tree">
          <span>树形(Tree)</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.ui.toaster">
          <span>提示(Toaster)</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.table')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <b class="label bg-primary pull-right">2</b>
      <i class="glyphicon glyphicon-list"></i>
      <span>表格</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>表格</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.static">
          <span>static表格</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.footable">
          <span>footable表格</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.table.grid">
          <span>ngGrid表格</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active:$state.includes('app.form')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-edit"></i>
      <span>表单</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>表单</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.elements">
          <span>表单元素</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.validation">
          <span>表单验证</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.wizard">
          <span>向导式表单</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.fileupload">
          <span>文件上传</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.imagecrop">
          <span>图片剪切</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.select">
          <span>下拉选择</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.slider">
          <span>滑杆</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.form.editor">
          <span>富文本</span>
        </a>
      </li>
    </ul>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.chart">
      <i class="glyphicon glyphicon-signal"></i>
      <span>图表</span>
    </a>
  </li>
  <li ng-class="{active:$state.includes('app.page')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-file icon"></i>
      <span>页面</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>页面</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.post">
          <span>发布</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.search">
          <span>搜索</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.page.price">
          <span>价格</span>
        </a>
      </li>
      <li>
        <a ui-sref="lockme">
          <span>锁定</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signin">
          <span>登录</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.signup">
          <span>注册</span>
        </a>
      </li>
      <li>
        <a ui-sref="access.forgotpwd">
          <span>忘记密码</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span>个人</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span>主页</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span>API文档</span>
    </a>
  </li>
</ul>
<!-- / list -->