<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: Pumpking
 * @Date: 2020-03-04 14:42:02
 * @LastEditors: Pumpking
 * @LastEditTime: 2020-03-06 23:31:55
 -->
<div class="login-container">
  <h1 class="login-title">AngularJS后台管理系统</h1>
  <form class="login-form" name="loginForm">
    <input type="text" name="username" class="login-username" ng-model="vm.username" ng-change="vm.hideError()" placeholder="Username">
    <input type="password" name="password" class="login-password" ng-model="vm.password" ng-change="vm.hideError()" placeholder="Password">
    <button type="submit" class="login-submit" ng-click="vm.login()">登录</button>

    <div class="login-error login-error-username" ng-show="vm.wrong['username'] && vm.username"><span>+</span></div>
    <div class="login-error login-error-password" ng-show="vm.wrong['password'] && vm.password"><span>+</span></div>
  </form>
  <div class="login-background" ng-class="{'login-background-1': vm.background === 1, 'login-background-2': vm.background === 2, 'login-background-3': vm.background === 3}"></div>
</div>